.spot-images-container {
    display: inline-grid;
    grid-auto-flow: column;
    max-height: 20rem;
    grid-template-columns: 32rem 15rem 15rem;
    max-width: fit-content;
    padding: 10px;
    justify-self: stretch;
    justify-content: space-evenly;
    grid-template-areas: 
    "A A B C
     A A C D";
}

.spot-images > ul {
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: 32rem 15rem 15rem;
    margin: 0px;
    padding: 0px;
    max-width: fit-content;
}


.single-spot-img {
    grid-auto-flow: row;
    justify-self: stretch;
    display: grid;
}

.spot-page-container {
    margin: 10px;
}

.spot-header-container {
    padding-left: 45px;
}

.spot-reserve-container {
    display: grid;
    border: solid black;
    width: 18em;
    border-radius: 16px;
    padding: 20px;
}

.spot-images-container > span {
    display: inline-grid;
    grid-auto-flow: row;
}