/* .spot-images-container {
    display: inline-grid;
    grid-auto-flow: column;
    max-height: 20rem;
    grid-template-columns: 32rem 15rem 15rem;
    max-width: fit-content;
    padding: 10px;
    justify-self: stretch;
    justify-content: space-evenly;
    grid-template-areas: 
    "A A B C
     A A C D";
}

/* .spot-images > ul {
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: 32rem 15rem 15rem;
    margin: 0px;
    padding: 0px;
    max-width: fit-content;
} */

/* */





/* .preview-img-container {
    display: inline-grid;
    width: 20rem;
} */

body {
    margin: 20px
}

.spot-page-container {
    margin: 20px;
    max-width: 1000px;
    padding-right: 20px;
}

.nav-header-container {
    padding: 0px;
}

.spot-header-container > h1 {
    padding: 5px;
}



.preview {
    display: grid;
    width: 30em;
    height: 26rem;
}

.preview-img-container {
    display: inline-grid;
    justify-self: stretch;
    height: 26rem;
}

.single-spot-images-container {
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* justify-items: stretch;
    grid-gap: 5px; */
    justify-items: stretch;
    height: 26rem;
    grid-gap: 4px

}

.single-spot-images {
    grid-auto-flow: row;
    display: grid;
    width: 13em;
    /* max-height: 13rem; */
    max-height: 12.9em;
    grid-gap: 4px;
    justify-items: stretch;
}

.spot-images-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 58rem;
    max-height: 26rem;
    grid-gap: 6px;
    align-items: stretch;
    justify-content: stretch;
}

.spot-reserve-container {
    display: grid;
    border: solid black;
    width: 18em;
    border-radius: 16px;
    padding: 20px;
}


li > a {
    text-transform: lowercase;
    background-image: linear-gradient(-225deg,
            #4927c5 0%,
            #247f5e 29%,
            #dada40 67%,
            #ff6600 100%);
    background-size: 200% auto;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* animation: textclip 5s ease-in infinite reverse both running; */

    display: inline-block;
    font-size: 40px;
}

