.spot-images-container {
    display: inline-grid;
    grid-auto-flow: column;
    max-height: 20rem;
    grid-template-columns: 32rem 15rem 15rem;
    max-width: fit-content;
    padding: 10px;
}

.spot-images > ul {
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: 32rem 15rem 15rem;
    margin: 0px;
    padding: 0px;
    max-width: fit-content;
}

.spot-images {
    display: grid;
    grid-auto-flow: column;
    box-sizing: content-box;
    /* grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    /* grid-template-areas: 
        "preview preview img1 img2
         preview preview img3 img4" */
};

.spot-img {
    grid-auto-flow: row;
    justify-self: stretch;
    
}

.spot-page-container {
    margin: 10px;
}

.spot-header-container {
    padding-left: 45px;
}

.spot-reserve-container {
    display: grid;
    border: solid black;
    width: 18em;
    border-radius: 16px;
    padding: 20px;
}

.spot-images-container > span {
    display: grid;
    grid-auto-flow: row;
}