.spots-container {
    display: inline-grid;
    box-sizing: border-box;
    /* grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 50px);
     */
    justify-items: center;
    align-items: center;
}

.spot-card {
    display: inline-grid;
    border: 3px solid red;
    max-height: 20em;
    margin: 10px;
    width: 15em;
}

.spot-img {
    display: grid;
    width: 15em;
    height: 15em;
    display: grid;
}

.tooltip .tooltiptext {
    visibility: hidden;
}

.spot-location {
    text-decoration: none;
}

.landing-page-container {
    margin: 10px;
}

.tooltip {
    display: grid;
    height: 0;
}

.spot-info-container {
    display: inline-grid;
    height: fit-content;
    color: black;
    padding: 10px;
}